<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:replace="~{layout/layout :: header}"></header>
<div class="max-w-md mx-auto mt-24 mb-12 bg-green/50 rounded/xl p-8 shadow-2xl">
    <h1 class="text-center text-2xl font-bold text-gray-900 mb-4">Crear nueva convocatoria</h1>
    <form th:action="@{/crearConvocatoria}" method="Post" enctype="multipart/form-data"
          th:object="${convocatoria}">
        <div class="flex flex-col gap-4">
            <label class="text-stone-900 font-bold">Titulo de la convocatoria</label>
            <input type="text" th:field="*{titleConvocatoria}"
                   required class="p-2 rounded-md border border-gray-300"/>
            <label class="text-stone-900 font-bold">Fecha de Inicio</label>
            <input type="date" th:field="*{fechaInicio}"
                   required class="p-2 rounded-md border border-gray-300">
            <label class="text-stone-900 font-bold">Fecha de fin</label>
            <input type="date" th:field="*{fechaFin}"
                   required class="p-2 rounded-md border border-gray-300">
            <button type="submit"
                    class="bg-orange-200 text-gray-900 py-3 px-4 rounded-md font-bold hover:opacity-70 transition-all">
                Guardar Convocatoria
            </button>
        </div>


    </form>

</div>
<body>

</body>
</html>